{
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "parser": "typescript",
  "endOfLine": "auto",
  "useTabs": false,
  "printWidth": 100,
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": ["*.json"],
      "options": {
        "parser": "json"
      }
    }
  ]
}